body {
    position: relative;
    width: 1130px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom: 110px;
}

.search_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    width: 270px;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
}

.search_btn {
    color: #EDEDED;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    background: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -11px;
    left: 5px;
}

.search_txt {
    float: left;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 15px;
    line-height: 40px;
    position: relative;
    top: -10px;
  }

.menubar {
    background-color: white !important;
}

.menubar_text {
    text-decoration: none;
    color: black;
}

.menubar_text:after {
  display:block;
  content: '';
  border-bottom: solid 3px #198754;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.menubar_text:hover:after {
    transform: scaleX(1);
}

footer{
    border-top: 1px solid #e4e4e4;
    background-color:#f8f9fa;
    padding:1rem 0;
    /* margin:1rem 0; */
    position: relative;
    transform: translatY(-100%);
}

.footer-message{
    font-weight: bold;
    font-size:0.9rem;
    color:#545e6f;
    margin-bottom:0.3rem;
    margin:0 0 0 0.6rem;
}
.footer-contact{
    font-size:0.9rem;
    color:#545e6f;
    margin:0.6rem;
}
.footer-copyright{
    font-size:0.9rem;
    color:#545e6f;
    margin:0.6rem;
}