body {
    position: relative;
    width: 1130px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom: 224px;
}

.search_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    width: 270px;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
}

.search_btn {
    color: #EDEDED;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    background: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -11px;
    left: 5px;
}

.search_txt {
    float: left;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 15px;
    line-height: 40px;
    position: relative;
    top: -10px;
  }

.menubar {
    background-color: white !important;
}

.menubar_text {
    text-decoration: none;
    color: black;
}

.menubar_text:after {
  display:block;
  content: '';
  border-bottom: solid 3px #198754;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.menubar_text:hover:after {
    transform: scaleX(1);
}

.text_signup {
    text-decoration: none;
    color: #3a3a3a;
}

.topBtn {
    display: flex;
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    z-index: 999;
}

.topBtn > div {
    padding: 3px;
    width: 40px;
    height: 40px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid black; */
    border-radius: 50%;
    transition: .2s;
    color: black;
    margin-right: .4rem;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.14);
}

.moveTopBtn:hover {
    color: #000;
    background: rgb(241, 241, 241);
}

/* 안됨 */
/* .moveTopBtn:active {
    border: none;
    outline: none;
} */

footer{
    border-top: 1px solid #e4e4e4;
    background-color:#f8f9fa;
    padding:1rem 0;
    /* margin:1rem 0; */
    position: relative;
    transform: translatY(-100%);
}

.footer-message{
    font-weight: bold;
    font-size:0.9rem;
    color:#545e6f;
    margin-bottom:0.3rem;
    margin:0 0 0 0.6rem;
}

.footer-contact{
    font-size:0.9rem;
    color:#545e6f;
    margin:0.6rem;
}

.footer-copyright{
    font-size:0.9rem;
    color:#545e6f;
    margin:0.6rem;
}