.ul_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  min-height: 100px;
  width: 200px;
  float: left;
  margin-right: 20px;
}

.li_list {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

li:hover {
  background-color: #ddd;
}

ul#ul1 li, ul#ul2 li {
  margin-top: 20px; /* ul 사이의 간격 조정 */
}

ul.dropzone {
  background-color: #eee;
  border-style: dashed;
  border-color: #ccc;
  padding: 10px;
  min-height: 120px;
  margin-top: 10px;
}