.row p {
  width: 300px;
}

.ul_list {
  list-style-type: none;
  padding: 0;
  margin: 3px;
  width: 300px;
  height: 500px;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.li_list {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

li:hover {
  background-color: #ddd;
}

ul > li {
  margin-top: 20px;
}

ul.dropzone {
  padding: 10px;
  min-height: 120px;
}

.title {
  text-align: center;
}

.main {
  border-bottom: 1px solid #198754;
}

#plan {
  visibility: hidden;
  height: 506px;
  margin: 3px;
  overflow-y: auto;
  overflow-x: hidden;
}

.col {
  flex: none;
}
