.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.paginator {
  margin-bottom: 1rem;
}

.table_image {
  width: 64px;
  height: 64px;
}

.article_count {
  font-size: smaller;
}

.search_more {
  text-align: right;
}

.noresult {
  text-align: center;
}

.count {
  font-size: smaller;
}