{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '/CSS/search.css' %}">
{% endblock head %}

{% block content %}
  <h3>
    {% if category == "Article" %}
      여행지
    {% else %}
      리뷰
    {% endif %}
    상세 검색 결과
  </h3>
  <table class="table table_hover align-middle">
    <thead>
      <tr>
        {% comment %} <th scope="col" width="5%"></th> {% endcomment %}
        <th scope="col" width="20%">
        {% if category == "Article" %}
          여행지
        {% else %}
          리뷰
        {% endif %}</th>
        <th scope="col" width="10%">이미지</th>
        <th scope="col" width="15%">작성자</th>
        <th scope="col" >내용</th>
        <th scope="col" width="10%">작성일</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
      <tr>
        {% comment %} <th scope="row">{{results.start_index|add:forloop.counter0}}</th> {% endcomment %}
        <td><a href="{% url 'articles:review_detail' result.pk %}" class="link">{{ result.title|truncatechars:10 }}</a></td>
        <td><img src="{{result.image.url}}" alt="이미지" class="table_image"></td>
        <td><a href="{% url 'accounts:profile' result.user %}" class="link">{{ result.user }}</a></td>
        <td>{{result.content|truncatechars:25}}</td>
        <td>{{result.created_at|date:"Y-m-d"}}</td>
      </tr>
      {% empty %}
        <td colspan="6" class="noresult">검색 결과가 없습니다. </td>
      {% endfor %}
    </tbody>
  </table>

  <ul class="pagination justify-content-center">
    {% if results.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?word={{search_word}}&page=1">처음</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?word={{search_word}}&page={{ results.previous_page_number }}">이전</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
      </li>
    {% endif %}
    {% for page_number in results.paginator.page_range %}
    {% if page_number >= results.number|add:-5 and page_number <= results.number|add:5 %}
        {% if page_number == results.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?word={{search_word}}&page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?word={{search_word}}&page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if results.has_next %}
      <li class="page-item">
        <a href="?word={{search_word}}&page={{ results.next_page_number }}" class="page-link" name="word">다음</a>
      </li>
      <li class="page-item">
        <a href="?word={{search_word}}&page={{ num_page }}" class="page-link">마지막으로</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a href="#" class="page-link" tabindex='-1' aria-disabled='true'>다음</a>
      </li>
    {% endif %}
  </ul>
{% endblock content %}  