{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '/CSS/profile.css' %}">
<link rel="stylesheet" href="{% static '/CSS/map.css' %}">
{% endblock head %}

{% block content %}
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <h1 class="mb-4 mt-3 fw-bold" style="text-align:center;">My Profile</h1>

      {% comment %} 프로필 이미지 {% endcomment %}
      <div class="box mb-4">
        {% comment %} <input type="file" id="file-input" class="input-image" style="display: none;" /> {% endcomment %}
        <img class="img" src={% if person.profile_img %} "{{ person.profile_img.url }}" {% else %} "{% static '/img/user_image.png' %}" {% endif %} alt="프로필 사진" id="profile-image"/>
      </div>

      <div style="text-align:center;">
        {% comment %} username {% endcomment %}
        <h3>
          <strong>{{ person.username }}</strong>
        </h3>

        {% comment %} 회원정보수정 {% endcomment %}
        <div class="mt-3">
          <a class="userupdate" href="{% url 'accounts:update' %}"><i class="bi bi-person-gear"></i> 수정하기</a>
        </div>

        <hr>

        {% comment %} 게시물 & 팔로워 & 팔로잉 {% endcomment %}
        <div class="mt-4">
          <strong>게시물</strong>
          <strong><a href="#" class="pe-3" style="text-decoration:none; color:black;">
            {{ article_count }}
          </a></strong>

          <strong>팔로워</strong>  
          <strong><a href="#" data-bs-toggle="modal" data-bs-target="#followerModal" class="pe-3" style="text-decoration:none; color:black;">
            {{ person.followers.all|length }}
          </a></strong>
      
          <strong>팔로잉</strong>
          <strong><a href="#" data-bs-toggle="modal" data-bs-target="#followingModal" style="text-decoration:none; color:black;">
            {{ person.followings.all|length }}
          </a></strong>
        </div>

        {% comment %} 팔로워 & 팔로잉 버튼 {% endcomment %}
        <div class="mt-3">
          {% if not user.is_authenticated %}
            <div><input type="submit" value="Follow" disabled="disabled"></div>
          {% elif request.user != person %}
            <div>
              <form action="{% url 'accounts:follow' person.pk %}" method="POST">
                {% csrf_token %}
                {% if request.user in person.followers.all %}
                  <input type="submit" value="Unfollow" class="btn btn-outline-info">
                {% else %}
                  <input type="submit" value="Follow" class="btn btn-outline-info">
                {% endif %}
              </form>
            </div>
          {% endif %}
        </div>

        <hr>
  
        {% comment %} 이메일 {% endcomment %}
        <div class="mt-4">
          <span><i class="bi bi-envelope-at"></i></span> <br>
          <p>{{ user.email }}</p>
        </div>

        <hr>

        {% comment %} sns 링크 {% endcomment %}
        <div class="mt-4">
          <a class="pe-3" href="https://ko-kr.facebook.com/"><img src="{% static '/img/favicon/icon-facebook.png' %}" alt="sns"></a>
          <a class="pe-3" href="https://www.instagram.com/"><img src="{% static '/img/favicon/icon-instagram.png' %}" alt="sns"></a>
          <a href="https://twitter.com/"><img src="{% static '/img/favicon/icon-twitter.png' %}" alt="sns"></a>
        </div>
      </div>
    </div>
  </div>



  <p>내 여행 일정</p>

  <div class="row">
    <div class="col-7">
      <div id="map" style="width:700px; height:500px;">
      </div>

    </div>
    <div class="col-5 text-center">
      {% for articleplan in articleplans %}
        <p> {{ articleplan.day }} 일차
            <a href="{% url 'articles:detail' articleplan.article.pk %}"> {{ articleplan.article.title }} </a>
            {{ articleplan.article.content }}
        </p>
        <hr>

      {% endfor %}

    </div>

    
  </div>


  {% comment %} 팔로워 모달 {% endcomment %}
  <div class="modal fade" id="followerModal" tabindex="-1" aria-labelledby="followerModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:350px;">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold" id="followerModalLabel" style="">Followers</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="background-color:whitesmoke;">
          <ul class="mt-2">
            {% for follower in person.followers.all %}
              <a href="{% url 'accounts:profile' follower %}" style="text-decoration:none; color:#353535;">
                <li><span>{{ follower }}</span></li>
              </a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% comment %} 팔로잉 모달 {% endcomment %}
  <div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:350px;">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold" id="followingModalLabel" style="">Following</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="background-color:whitesmoke;">
          <ul class="mt-2">
            {% for following in person.followings.all %}
            <a href="{% url 'accounts:profile' following %}" style="text-decoration:none; color:#353535;"><li>{{ following }}</li></a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/static/JS/profile.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=44fdfd5aea6498bf2814ede3eae827b6&libraries=services,clusterer,drawing"></script>
  <script>
    // 카카오맵
    var container = document.getElementById('map')
    var options = {
      center: new kakao.maps.LatLng(33.3846, 126.5535), // 제주도 중심지의 lat, lng값 
      level: 10,
      
    }
    var map = new kakao.maps.Map(container, options)
  
    // 마커 표시 위치
    var positions = [
  
    {% for articleplan in articleplans %}
      { title : '<div class="customoverlay">' +
        '  <a href="{% url "articles:detail" articleplan.article.pk %}" target="_blank">' +
        '    <span class="title">{{articleplan.article.title}}</span>' +
        '  </a>' +
        '</div>',
      latlng: new kakao.maps.LatLng({{articleplan.article.lat}}, {{articleplan.article.lng}}),
      markerImage: new kakao.maps.MarkerImage('{{articleplan.article.image.url}}', new kakao.maps.Size(64, 69), imageOption= {offset: new kakao.maps.Point(27, 69)})
      },
    {% endfor %},
    
  
  ];
  
  
  for (var i = 0; i < positions.length; i ++) {
  
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng, // 마커를 표시할 위치
        image : positions[i].markerImage, // 마커 이미지 
        zIndex : 4
    
    });
    
    marker.setMap(map);  
    
    // 커스텀 오버레이를 생성합니다
    var customOverlay = new kakao.maps.CustomOverlay({
      map: map,
      position : positions[i].latlng, 
      content : positions[i].title, // 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
      zIndex : 5,
      yAnchor : 1
    });

    // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
    // customOverlay.open(map, marker); 

    
  
  }
    
 // 지도에 표시할 선에 들어갈 경로 생성  
 var linePath = [
  {% for articleplan in articleplans %}
    new kakao.maps.LatLng({{articleplan.article.lat}}, {{articleplan.article.lng}}),

  {% endfor %}
 

];
  // 지도에 표시할 선을 생성합니다
  var polyline = new kakao.maps.Polyline({
    path: linePath, // 선을 구성하는 좌표배열 입니다
    strokeWeight: 5, // 선의 두께 입니다
    strokeColor: '#FFAE00', // 선의 색깔입니다
    strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'solid', // 선의 스타일입니다
    zIndex : 3
  });

  // 지도에 선을 표시합니다 
  polyline.setMap(map);  

  
  </script>
{% endblock content %}
