{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '/CSS/profile.css' %}">
{% endblock head %}

{% block content %}
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <h1 class="mb-4 mt-3" style="text-align:center;">My Profile</h1>

      {% comment %} 프로필 이미지 {% endcomment %}
      <div class="box mb-4">
        {% comment %} <input type="file" id="file-input" class="input-image" style="display: none;" /> {% endcomment %}
        <img class="img" src={% if person.profile_img %} "{{ person.profile_img.url }}" {% else %} "{% static '/img/루피.jpg' %}" {% endif %} alt="프로필 사진" id="profile-image"/>
      </div>

      <div style="text-align:center;">
        {% comment %} username {% endcomment %}
        <h3>
          <strong>{{ person.username }}</strong>
        </h3>

        <hr>

        {% comment %} 팔로워 & 팔로잉 {% endcomment %}
        <div class="mt-4">
          팔로워 : {{ person.followers.all|length }}
          <ul class="mt-2">
            {% for follower in person.followers.all %}
              <a href="{% url 'accounts:profile' follower %}" style="text-decoration:none; color:gray;">
                <li>{{ follower }}</li>
              </a>
            {% endfor %}
          </ul>
        </div>
        <div>
          팔로잉 : {{ person.followings.all|length }}
          <ul class="mt-2">
            {% for following in person.followings.all %}
            <a href="{% url 'accounts:profile' following %}" style="text-decoration:none; color:gray;"><li>{{ following }}</li></a>
            {% endfor %}
          </ul>
        </div>

        {% comment %} 팔로워 & 팔로잉 버튼 {% endcomment %}
        {% if not user.is_authenticated %}
          <div><input type="submit" value="Follow" disabled="disabled"></div>
        {% elif request.user != person %}
          <div>
            <form action="{% url 'accounts:follow' person.pk %}" method="POST">
              {% csrf_token %}
              {% if request.user in person.followers.all %}
                <input type="submit" value="Unfollow" class="btn btn-outline-info">
              {% else %}
                <input type="submit" value="Follow" class="btn btn-outline-info">
              {% endif %}
            </form>
          </div>
        {% endif %}

        <hr>
  
        {% comment %} 이메일 {% endcomment %}
        <div class="mt-4">
          <span><i class="bi bi-envelope-at"></i></span> <br>
          <p>{{ user.email }}</p>
        </div>

        <hr>

        {% comment %} sns 링크 {% endcomment %}
        <div class="mt-4">
          <a class="pe-3" href="#"><img src="{% static '/img/favicon/icon-facebook.png' %}" alt="sns"></a>
          <a class="pe-3" href="#"><img src="{% static '/img/favicon/icon-kakao.png' %}" alt="sns"></a>
          <a href="#"><img src="{% static '/img/favicon/icon-twitter.png' %}" alt="sns"></a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/static/JS/profile.js"></script>
{% endblock content %}
