{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '/CSS/signup.css' %}">
{% endblock head %}

{% block style %}
{% endblock style %}

{% block content %}
<div class="d-flex justify-content-center">
  <form action="{% url 'accounts:signup' %}" method="post" enctype="multipart/form-data">
    {% comment %} <h2 class="title">Travel Makers</h2> {% endcomment %}
    <img class="title" src="{% static '/img/favicon/logo.png' %}" alt="logo">
    {% csrf_token %}
    <div class="mt-4">
      {{ form.as_p }}
    </div>
    <input type="submit" class="btn btn-secondary mt-2" style="width: 500px;" value="가입하기">
  </form>
</div>
{% endblock content %}
