{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '/CSS/review_create.css' %}">
{% endblock head %}

{% block content %}
<div class="d-flex justify-content-center">
  <form action="{% url 'articles:review_create' article.pk %}" method="POST" enctype="multipart/form-data">
    <h2 class="mb-4 title fw-bold">리뷰 생성</h2>
    {% csrf_token %}
    <div class="mb-3 main">
      제목 : {{ form.title }}
    </div>
    <div class="mb-3 main">
      내용 : {{ form.content }}
    </div>
    <div class="mb-3">
      사진 : {{ form.image }}
    </div>
    <div class="mb-3 main">
      별점 : {{ form.score }}
    </div>
    <input type="submit" value="생성하기" class="btn btn-outline-success mt-4" style="width:400px;">
  </form>
</div>
{% endblock content %}
