{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>detail</h1>
<h4><b><span id="article-pk">{{article.pk}}</span>. {{article.title}}</b></h4>
<p>{{article.user}}</p>
<p>{{article.content}}</p>

{% if article.image %}
<img src="{{article.image.url}}" alt="">
{% endif %}

<p>{{article.created_at}}</p>
<p>{{article.updated_at}}</p>

{% if request.user == article.user %}
  <a href="{% url 'articles:update' article.pk %}" class="p-2"><button type="button" class="btn btn-primary">수정하기</button></a>
  <form action="{% url 'articles:delete' article.pk %}" METHOD="POST" class="p-2">
    {% csrf_token %}
    <button type="submit" value="DELETE" class="btn btn-danger">삭제하기</button>
  </form>
{% endif %}

<p>이 여행지에 대한 의견을 남겨주세요</p>
<div class="d-flex text-center">
  {% for emotion in emotions %}
  <div class="m-3" id="emotion-{{emotion.value}}">
    {% if request.user.is_authenticated %}
    {{ emotion.queryset }}
      <form>
        {% csrf_token %}
        {% if emotion.exsit %}
          <input type="image" src="{% static 'emotions/' %}{{ emotion.value }}.png" value="{{ emotion.label }} 취소" style="width: 32px; height: 32px;" class="emotion" data-emotion-id="{{emotion.value}}"> 취소하기
        {% else %}
          <input type="image" src="{% static 'emotions/' %}{{ emotion.value }}.png" value="{{ emotion.label }}" style="width: 32px; height: 32px;" class="emotion" data-emotion-id="{{emotion.value}}">
        {% endif %}
      </form>
    {% else %}
      <button value="{{ emotion.label }}" disabled>{{ emotion.label }}</button>
    {% endif %}
    <span class="emotion-count">{{ emotion.count }}</span>
  </div>
  {% endfor %}
</div>

<div id="map" style="width:500px; height:300px;"></div>

<hr>
<a href="{% url 'articles:review_create' article.pk %}" class="p-2"><button type="button" class="btn btn-primary">리뷰 남기기</button></a>
<hr>

리뷰 목록
{% for review in reviews %}
  <div>
    <a href="{% url 'articles:review_detail' review.pk %}"><p>리뷰 제목 - {{ review.title }}</p></a>
    <p>리뷰 내용 - {{ review.content }}</p>
  </div>
{% endfor %}

<hr>

<h3>
  댓글 목록
</h3>

{% for comment in comments %}
  <p id="comment-content-{{comment.pk}}">{{comment.content}}</p>
  <div>
    <div class="d-flex">
      <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="댓글 삭제" class="btn btn-sm btn-outline-danger">
      </form>
      <input type="button" value="댓글 수정" class="comment-edit-btn btn btn-sm btn-outline-primary" data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}">
    </div>
    <form class="comment-edit-form my-3" id="comment-edit-form-{{ comment.pk }}" data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}" hidden>
      {% csrf_token %}
      {{comment_form.as_p}}
      <input type="submit" value="수정" class="update btn btn-sm btn-outline-primary">
      <input type="button" value="취소" class="cancel btn btn-sm btn-outline-secondary" data-comment-id="{{ comment.pk }}">
    </form>
  </div>
{% endfor %}

<form action="{% url 'articles:comment_create' article.pk %}" method="post">
  {% csrf_token %}
  {{ comment_form.as_p }}
  <input type="submit" value="댓글 작성">
</form>

<hr>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=44fdfd5aea6498bf2814ede3eae827b6&libraries=services,clusterer,drawing"></script>

<script>
  // 카카오맵
  var container = document.getElementById('map')
  var options = {
    center: new kakao.maps.LatLng({{article.lat}}, {{article.lng}}),
    level: 5
  }
  var map = new kakao.maps.Map(container, options)
  var markerPosition = options.center
  var marker = new kakao.maps.Marker({
    position: markerPosition
  })
  marker.setMap(map)
</script>

<script>
  // 댓글 수정
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  const commentUpdates = document.querySelectorAll('.comment-edit-btn')

  commentUpdates.forEach((comment) => {
    comment.addEventListener('click', (event) => {
      const commentId = event.target.dataset.commentId
      const commentUpdateDiv = document.querySelector(`#comment-edit-form-${commentId}`)
      const contentTextArea = document.querySelector(`#comment-edit-form-${commentId}>p>textarea`)
      if (commentUpdateDiv.hidden == true) {
        commentUpdateDiv.hidden = false
      } else {
        commentUpdateDiv.hidden = true
      }
      contentTextArea.value = document.querySelector(`#comment-content-${commentId}`).textContent
    })
  })

  const commentUpdateConfirms = document.querySelectorAll('.comment-edit-form')
  commentUpdateConfirms.forEach((updateBtn) => {
    updateBtn.addEventListener('submit', (event) => {
      event.preventDefault()
      const articleId = event.target.dataset.articleId
      const commentId = event.target.dataset.commentId
      const data = {
        content: document.querySelector(`#comment-edit-form-${commentId}>p>textarea`).value,
      }
      if (window.confirm('댓글 수정하시겠습니까?')) {
        axios({
          method:'post',
          url:`/articles/${articleId}/comments/${commentId}/update/`,
          headers: {'X-CSRFToken': csrftoken,},
          data: JSON.stringify(data),
        })
        .then((response) => {
          updateBtn.hidden = true
          document.querySelector(`#comment-content-${commentId}`).textContent = data['content']
        })
        .catch((error) => {
          console.log(error.response)
        })
      }
    })
  })

  const commentUpdateCancels = document.querySelectorAll('.comment-edit-form>.cancel')
  commentUpdateCancels.forEach((cancelBtn) => {
    cancelBtn.addEventListener('click', (event) => {
      const commentId = event.target.dataset.commentId
      const commentUpdateForm = document.querySelector(`#comment-edit-form-${commentId}`)
      commentUpdateForm.hidden = true
    })
  })
</script>
<script>
  // emotion
  const emotions = document.querySelectorAll('.emotion')
  const pk = document.querySelector('#article-pk').textContent

  emotions.forEach((emotion) => {
    emotion.addEventListener('click', (event) => {
      event.preventDefault()
      const emotionId = event.target.dataset.emotionId
      const emotionCount = document.querySelector(`#emotion-${emotionId} > .emotion-count`)
      axios({
        method:'post',
        url:`/articles/${pk}/emotes/${emotionId}/${'Article'}/`,
        headers:{'X-CSRFToken': csrftoken,},       
      })
      .then((response) => {
        emotionCount.textContent = response.data.emotion_count
      })
      .catch((response) => {
        console.log(error.response)
      })
    })
  }) 
</script>
{% endblock content %}
