{% extends 'base.html' %}

{% block content %}
<h1>detail</h1>
<h4><b>{{article.pk}}. {{article.title}}</b></h4>
<p>{{article.user}}</p>

{% if article.image %}
<img src="{{article.image.url}}" alt="">
{% endif %}

<p>{{article.created_at}}</p>
<p>{{article.updated_at}}</p>

<a href="{% url 'articles:update' article.pk %}" class="p-2"><button type="button" class="btn btn-primary">수정하기</button></a>
<form action="{% url 'articles:delete' article.pk %}" METHOD="POST" class="p-2">
  {% csrf_token %}
  <button type="submit" value="DELETE" class="btn btn-danger">삭제하기</button>
</form>

<hr>

<form action="{% url 'articles:comment_create' article.pk %}" method="post">
  {% csrf_token %}
  {{ comment_form.as_p }}
  <input type="submit" value="댓글 작성">
</form>
<hr>
<h3>
  댓글 목록
</h3>
{% for comment in comments %}
  <div>
    <p>댓글 번호 -
      {{ comment.pk }}
    </p>
    <p>댓글 작성자 -
      {{ comment.user }}
    </p>
    <p>댓글 내용 -
      {{comment.content}}
    </p>
    {% if request.user == comment.user %}
      <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="댓글 삭제">
      </form>
      <button onclick="dis()" id="comment_btn">댓글 수정</button>
      <div id="dis" style="display: none;">
        <form action="{% url 'articles:comment_update' article.pk comment.pk %}" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="UPDATE">
        </form>
      </div>
    {% endif %}
  </div>
  <hr>
{% endfor %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
  function dis(){
    if($('#dis').css('display') == 'none'){
      $('#dis').show();
      $('#comment_btn').text('댓글 수정 취소');
    }else{
      $('#dis').hide();
      $('#comment_btn').text('댓글 수정');
    }
  }
</script>
{% endblock content %}
