{% extends 'base.html' %}

{% block content %}
<h1>index</h1>
<hr>
{% if request.user.is_authenticated %}
  <a href="{% url 'articles:create'%}">생성하기</a>
{% endif %}
<div>1</div>
<div>2</div>
<div>3</div>
<div>4</div>
<div>5</div>
<div>6</div>
<div>7</div>
<div>8</div>
<div>9</div>
<div>10</div>
<div>11</div>
<div>12</div>
<div>13</div>
<div>14</div>
<div>15</div>
<div>16</div>

{% for article in articles %}
  <div>
    <h3><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></h3>
    <p>작성자 - <a href="{% url 'accounts:profile' article.user %}">{{ article.user }}</a></p>
  </div>
  <hr>
{% endfor %}
{% endblock content %}
