{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/CSS/map.css' %}">
<link rel="stylesheet" href="{% static '/CSS/index.css' %}">
{% endblock head %}

{% block content %}
{% comment %} 제목 {% endcomment %}
<h2 class="col-10 fw-bold">어디로 여행을 가시나요?</h2>
<p style="color:#727272;">여행지를 생성해 보세요.</p>

{% comment %} 여행지 생성 {% endcomment %}
<div class="d-flex row">
  <div class="col-8">
    <h2 class="create-title">JEJU</h2>
    <p class="create-subtitle">대한민국 제주도</p>
    <p class="create-content mt-4">대한민국에서 가장 큰 섬인 제주도(濟州島) 본섬을 비롯하여 마라도, 우도, 추자군도 등을 포함한 유인도 8개, 무인도 55개로 구성되어 있다. 한라산 일대의 아름다운 자연 경관으로 관광업 등 서비스업과 어업이 발달하였고, 제주 화산섬과 용암 동굴은 유네스코 세계 자연 유산에 등재되었다.</p>
    <div class="create-btn">
      {% comment %} <p class="m-0">여행지를 생성해 보세요.</p> {% endcomment %}
      {% if request.user.is_authenticated %}
        <a class="btn btn-outline-success mt-4" href="{% url 'articles:create'%}">여행지 생성</a>
      {% endif %}
    </div>
  </div>
  <div class="col-4" style="padding-left:0;">
    <img src="{% static '/img/제주도.png' %}" alt="background-img" style="width:100%;">
  </div>
</div>
<hr>

{% comment %} 일정 생성 {% endcomment %}
<h2 class="col-10 fw-bold mt-5">계획을 세워 여행을 즐겨보세요!</h2>
<p style="color:#727272;">일정을 생성해 보세요.</p>

<div class="d-flex row">
  <div class="col-8">
    <h2 class="create-title">PLAN</h2>
    <p class="create-content mt-4">내가 원하는 장소를 골라 여행지를 생성한 후, 여행 일자에 맞추어 직접 여행 일정을 계획해 보세요!</p>
    <div class="d-flex">
      <div class="box me-5">
        <p class="fw-bold mt-2" style="text-align:center;">step 1</p>
        <p style="text-align:center;">여행지 생성</p>
      </div>
      <div class="box">
        <p class="fw-bold mt-2" style="text-align:center;">step 2</p>
        <p style="text-align:center;">일정 생성</p>
      </div>
    </div>
    <div class="create-btn2">
      {% if request.user.is_authenticated %}
        <a class="btn btn-outline-success mt-2" href="{% url 'articles:plan'%}">일정 생성</a>
      {% endif %}
    </div>
  </div>
  <div class="col-4">
    <img src="{% static '/img/돌하르방.png' %}" alt="background-img" style="width:100%;">
  </div>
</div>
<hr>

<h2 class="col-10 fw-bold mt-5">추가된 여행지를 확인해 보세요!</h2>
<p class="mb-3" style="color:#727272;">
  선택한 장소들이 지도에 표시되어집니다. <br>
  장소핀을 클릭하면 상세정보 확인이 가능합니다.
</p>
<div id="map" style="width:100%; height:800px;"></div>

{% comment %} {% for article in articles %}
  <div>
    <h4><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></h4>
    <p>작성자 - <a href="{% url 'accounts:profile' article.user %}">{{ article.user }}</a></p>
    <img src="{{article.image.url}}" alt="">
  </div>
  <hr>
  {% endfor %} {% endcomment %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=44fdfd5aea6498bf2814ede3eae827b6&libraries=services,clusterer,drawing"></script>

<script>
  // 카카오맵
  var container = document.getElementById('map')
  var options = {
    center: new kakao.maps.LatLng(33.3846, 126.5535), // 제주도 중심지의 lat, lng값 
    level: 9,
    // draggable: false, // 드래그 안되도록 사진 고정

  }
  var map = new kakao.maps.Map(container, options)

  // 마커 표시 위치
  var positions = [
    {% for article in articles %}
      { title : '<div class="customoverlay">' +
        '  <a href="{% url "articles:detail" article.pk %}" target="_blank">' +
        '    <span class="title">{{article.title}}</span>' +
        '  </a>' +
        '</div>',
      latlng: new kakao.maps.LatLng({{article.lat}}, {{article.lng}}),
      markerImage: new kakao.maps.MarkerImage('{{article.image.url}}', new kakao.maps.Size(64, 69), imageOption= {offset: new kakao.maps.Point(27, 69)})
      },
    {% endfor %}
  ];


for (var i = 0; i < positions.length; i ++) {

  // 마커를 생성합니다
  var marker = new kakao.maps.Marker({
      map: map, // 마커를 표시할 지도
      position: positions[i].latlng, // 마커를 표시할 위치
      image : positions[i].markerImage, // 마커 이미지 
      zIndex : 4

  });

  marker.setMap(map);  

  // 커스텀 오버레이를 생성합니다
  var customOverlay = new kakao.maps.CustomOverlay({
    map: map,
    position : positions[i].latlng, 
    content : positions[i].title, // 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
    zIndex : 5,
    yAnchor : 1
  });

  // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
  // customOverlay.open(map, marker); 

}


</script>
{% endblock content %}
